.example-row {
	padding: 2rem 0;
}

// remove gutters for 
.no-gutter.row {
  margin-right: 0px;
  margin-left: 0px;
}

.no-gutter > [class^="col-"], .no-gutter > [class^=" col-"]{
  padding-right: 0px;
  padding-left: 0px;
}

// 4px gutter
.gutter-2.row {
  margin-right: 2px;
  margin-left: 2px;
}

.gutter-2 > [class^="col-"], .no-gutter > [class^=" col-"]{
  padding-right: 2px;
  padding-left: 2px;
}